@(content: Html)
<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
   
   <!-- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Clan Diary</title>
   <meta name="description" content="Clan Diary ClanDiary">
   <meta name="author" content="oldcwj">
   
   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
   <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,400italic,400,300,600,700,900|Varela|Arapey:400,400italic' rel="stylesheet" type='text/css' >
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
   
   <!-- JS
   ================================================== -->
   <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/greensock.js")" type="text/javascript"></script>
   <!--[if lt IE 9]>
   <script src="./js/modernizr.custom.11889.js" type="text/javascript"></script>
   <script src="./js/respond.js" type="text/javascript"></script>
   
   <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
   <![endif]-->
   <!-- HTML5 Shiv events (end)-->
   <!-- MEGA MENU -->
   
   <!-- Favicons
   ================================================== -->
   <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body class="page-sidebar blog">

<!-- Primary Page Layout
================================================== -->
<div id="wrap">

   <!-- Header -->
    <header id="header" class="horizontal-w sm-rgt-mn">
      <div  class="container">
         <div class="col-md-3 col-sm-3 logo-wrap">
            <div class="logo">
               <a href="index.html"><img src="@routes.Assets.at("images/logo.png")" width="130" id="img-logo-w1" alt="logo" class="img-logo-w1"></a>
               <a href="index.html"><img src="@routes.Assets.at("images/logo.png")" width="130" id="img-logo-w2" alt="logo" class="img-logo-w2"></a>
               <span class="logo-sticky"><a href="index.html"><img src="@routes.Assets.at("images/logo.png")" width="60" id="img-logo-w3" alt="logo" class="img-logo-w3"></a></span>
            </div> <!-- end logo -->
         </div> <!-- end col-md-3 -->
         <nav id="nav-wrap" class="nav-wrap1 col-md-9 col-sm-9">
            <div class="container">
               <div id="search-form">
                  <a href="javascript:void(0)" class="search-form-icon"><i id="searchbox-icon" class="fa-search"></i></a>
                  <div id="search-form-box" class="search-form-box">
                     <form action="#" method="get">
                        <input type="text" class="search-text-box" id="search-box" name="s">
                     </form>
                  </div>
               </div> <!-- end search form -->
               <ul id="nav">
                  <li>
                     <a href="@routes.ItemController.list()"><strong>列表</strong></a>
                  </li> <!-- end homes -->
                  <li>
                     <a href="#" data-description="meet extent"><strong>广场</strong></a>
                  </li> <!-- end pages -->
                  
                  <li>
                     <a href="@routes.ItemController.about()" data-description="our ideas">关于</a>
                  </li> <!-- end blogs -->
                  <li>
                     <a href="@routes.ItemController.createForm()" class="btn btn-success"><strong>上传图片</strong></a>
                  </li>
                  <li>
                     <a href="@routes.Application.logout()"><strong>退出</strong></a>
                  </li>
               </ul> <!-- end #nav -->
            </div>
         </nav> <!-- end navigation -->
      </div> <!-- end container -->
   </header> <!-- end header -->
   
   @content
   
   <!-- Footer -->
   <!-- Footer -->
   <footer id="footer" class="litex">
      <section class="container footer-in">
         <div class="col-md-4">
            <div class="widget">
               <div class="textwidget">
                  <p><img class="footer-logo" src="../images/logo-sticky.png" alt="logo">Clan Diary<br>© 2015 Clan Diary.</p>
               </div>
            </div>
         </div>
         <div class="col-md-4"></div>
      </section>
   </footer> <!-- end footer -->

   <span id="scroll-top"><a class="scrollup"><i class="fa-chevron-up"></i></a></span>
   
</div> <!-- end Wrap -->

   <!-- End Document
   ================================================== -->

   <!-- JS
   ================================================== -->
   
   <script src="@routes.Assets.at("javascripts/jquery.plugins.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/jquery.masonry.min.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/mediaelement-and-player.min.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/isotope.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/sticky-custom.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/extent-custom.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/layerslider.transitions.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/layerslider.kreaturamedia.jquery.js")" type="text/javascript"></script>
  
</body>
</html>