@(form: Form[Application.Login])
<head>
	<!-- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Clan Diary</title>
   <meta name="description" content="Clan Diary ClanDiary">
   <meta name="author" content="oldcwj">
   
   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
   <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,400italic,400,300,600,700,900|Varela|Arapey:400,400italic' rel="stylesheet" type='text/css' >
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
</head>
<body>
	<section class="container page-content" >
    	<h2>登录</h2>
 		@if(form.hasGlobalErrors) {
			@form.globalError.message
		}
 		@helper.form(action = routes.Application.authenticate, 'enctype -> "multipart/form-data") {
    		@helper.inputText(form("email"), '_label -> "姓名")
        	@helper.inputText(form("password"), '_label -> "密码")
    		<button class="btn btn-primary">登录</button>
		}
		<h2>oldcwj@@gmail.com</h2>
	</section>
</body>

